# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.f456d86fa76e1a141b10a99a99203085.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
